* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #71a38b;
  font-family: "Raleway";
}

/*Navigation*/

header {
  background-color: white;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  justify-content: end;
  position: fixed;
  width: 100%;
}

nav ul {
  display: flex;
  column-gap: 40px;
  list-style-type: none;
}

a {
  color: #bb9c7c;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}

/*Titelsection*/

.titel {
  background-image: url(beach\ background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  padding: 130px 150px;
  font-size: 120px;
  color: white;
}

.wave {
  width: 100%;
}

/*Abschnitte*/

section {
  background-color: white;
  padding: 50px 220px;
  line-height: 2;
}

img {
  max-width: 80%;
}

footer {
  text-align: center;
  margin: 45px;
}
