* {
  box-sizing: border-box;
}

body {
  background-color: #6ecbc2;
  font-family: "roboto";
  margin: 0px;
}

/*Navigation*/

header {
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  justify-content: end;
}

nav ul {
  display: flex;
  column-gap: 40px;
  list-style-type: none;
}

a {
  color: #467251;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: #304f38;
}

/*Titel*/

.titel {
  color: white;
  font-size: 60px;
  display: flex;
  background-image: url(beach\ background.jpg);
  background-image: fixed;
  background-size: cover;
  padding-right: 150px;
  padding-left: 150px;
}

/*Abschnitte*/

section {
  font-weight: lighter;
  background-color: #f1f1f1;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

img {
  max-width: 80%;
}

footer {
  text-align: center;
  margin: 45px;
}
